.nav-container {
  color: #fff;
  padding: 15px;
  margin-top: 1px;
  background-color: #fafafa;
}

.innerNav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #beadff;
  background-color: #fff;
  border-radius: 5px;
  height: 60px;
}

.innerNav-container img {
  margin-left: 20px;
}

.linksDetails {
  display: flex;
  padding-right: 5px;
  justify-content: center;
}

.linksDetails button {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #beadff;
  /* border: solid 2px red; */
}

.linksDetails button img {
  margin-right: 5px;
  margin-left: -10px;
  /* margin-top: 30px;  */
}

.linksDetails button:first-child {
  /* background-color: #beadff; */
  color: #633cff;
  font-weight: 900;
  width: 110px;
  height: 50px;
  /* border: solid 2px red; */
}

.linksDetails button:last-child {
  /* background-color: white;  */
  color: #737373;
  font-weight: 800;
  width: 160px;
  height: 50px;
  /* border: solid 2px red; */
}

button:hover img,
button:hover span {
  color: #633cff;
}

button:hover {
  background-color: #beadff;
  color: #633cff;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  margin-left: 18px;
}

.phoneIcon {
  width: 200px;
  height: 130px;
  /* border: 2px solid red; */
}

/* .phone {
  position: relative;
  border: 2px solid pink;
  top: 1px; 
  right: -15px;
  width: 300px;
} */

/* .phone img {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 20px; 
  right: 25px; 
  border: 2px solid yellow;
} */





form input {
  position: absolute;
  top: 25px;
  left: 37px;
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

/* forminput: hover {
  color: blue;
} */

form label {
  float: left;
  margin-left: 38px;
  margin-top: 2px;
  color: dark grey;
}

.AddedOneLink-customisation {
  position: absolute;
  top: 0;
  margin-left: 530px;
  margin-top: 93px;
  width: 760px;
  height: 535px;
  text-align: center;
}

.customisationHeaderParagraph {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 20px;
}

.customisationHeaderParagraph h1 {
  text-align: left;
  color: #333333;
}

.customisationHeaderParagraph p {
  text-align: left;
  color: #737373;
  margin-top: 10px;
  font-size: 14px;
}

.AddedOneLink-addLinkBtn {
  color: #633cff;
  width: 695px;
  height: 37px;
  margin-top: -7px;
  margin-left: 30px;
}

.AddedLinksaveBtn {
  position: absolute;
  top: 593px;
  right: 1px;
  /* width: 790px;  */
  width: 100%;
  height: 50px;
}

.linkTwoContainer {
  width: 695px;
  height: 170px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 5px;
  background-color: #fafafa;
  /* border: 2px solid blue; */
}

.linkTwoHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  color: grey;
  font-size: 14px;
  /* border: 2px solid red; */
  width: 90%;
  height: 20px;
  margin-top: 5px;
  margin-left: 35px;
}

.linkTwoHeader p {
  /* font-weight: bold; */
  margin: 0;
}

.linkTwoHeader p:first-child {
  font-weight: bold;
  margin-left: -30px;
}

.linkTwoHeader p:last-child {
  cursor: pointer; 
  margin-right: -35px;
}

.youtube-cont {
  position: relative;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 90%;
  height: 60px;
  margin-top: 10px;
  margin-left: 35px;
}

.platform-text {
  position: absolute;
  top: 15%;
  /* left: 1px; */
  transform: translateY(-50%);
  margin: 0;
  font-weight: 700;
  font-size: 11px;
  color: #737373;
  pointer-events: none; 
}

.arrowDown {
  z-index: 1;
  position: absolute;
  top: 39px;
  right: 2px;
  font-size: 12px;
}



.AddedLinksaveBtn .AddedOneLinksave {
  width: 70px;
  height: 40px;
  margin-left: 1230px;
  /* margin-right: 700px;  */
  border: none;
  background-color: #633cff;
  color: white;
  text-align: center;
  line-height: 40px;
  /* border: 2px solid red; */
}

.saveBtn .save:hover {
  background-color: #beadff;
}

.link-container {
  width: 660px;
  height: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 75px;
  background-color: #fafafa;
  border-radius: 5px;
}

.linkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkInputContainer {
  position: absolute;
  margin-top: -5px;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 10px;
}

.linkInputContainer img {
  position: absolute;
  top: 190%;
  left: 5px;
  transform: translateY(-50%);
}


.links-button.active {
  background-color: #fff;
}



.linkInputContainer input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}
