.nav-container {
  color: #fff;
  padding: 15px;
  margin-top: 1px;
  background-color: #fafafa;
}

.innerNav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #beadff;
  background-color: #fff;
  border-radius: 5px;
  height: 60px;
}

.innerNav-container img {
  margin-left: 20px;
}

.linksDetails {
  display: flex;
  padding-right: 5px;
  justify-content: center;
}

.linksDetails button {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #beadff;
  /* border: solid 2px red; */
}

.linksDetails button img {
  margin-right: 5px;
  margin-left: -10px;
  /* margin-top: 30px;  */
}

.linksDetails button:first-child {
  /* background-color: #beadff; */
  color: #633cff;
  font-weight: 900;
  width: 110px;
  height: 50px;
  /* border: solid 2px red; */
}

.linksDetails button:last-child {
  /* background-color: white;  */
  color: #737373;
  font-weight: 800;
  width: 160px;
  height: 50px;
  /* border: solid 2px red; */
}

button:hover img,
button:hover span {
  color: #633cff;
}

button:hover {
  background-color: #beadff;
  color: #633cff;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  margin-left: 18px;
}

.phoneIcon {
  width: 200px;
  height: 130px;
  /* border: 2px solid red; */
}


form input {
  position: absolute;
  top: 25px;
  left: 37px;
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid grey;
}

form label {
  float: left;
  margin-left: 38px;
  margin-top: 2px;
  color: dark grey;
}

.AddedLinks-customisation {
  position: absolute;
  top: 0;
  margin-left: 530px;
  margin-top: 93px;
  width: 760px;
  height: 535px;
  text-align: center;
}

.customisationHeaderParagraph {
  margin-left: 30px;
  margin-top: 5px;
  font-size: 20px;
}

.link-newLink-section {
  /* border: 2px solid red; */
  margin-top: 25px;
}

.customisationHeaderParagraph h1 {
  text-align: left;
  color: #333333;
}

.customisationHeaderParagraph p {
  text-align: left;
  color: #737373;
  margin-top: 10px;
  font-size: 14px;
}

.AddedLinks-addLinkBtn {
  color: #633cff;
  width: 695px;
  height: 37px;
  margin-top: -7px;
  margin-left: 30px;
}

.AddedLinksaveBtn {
  position: absolute;
  top: 593px;
  right: 1px;
  /* width: 790px;  */
  width: 100%;
  height: 50px;
}

.links-linkOneContainer {
  width: 695px;
  height: 170px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #fafafa;
  /* border: 2px solid blue; */
}

.linkTwoContainer {
  width: 695px;
  height: 170px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 5px;
  background-color: #fafafa;
}

.linksTwoHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  color: grey;
  font-size: 14px;
  /* border: 2px solid red; */
  width: 90%;
  height: 20px;
  margin-top: 5px;
  margin-left: 35px;
}

.linkTwoHeader p {
  /* font-weight: bold; */
  margin: 0;
}

.linkTwoHeader p:first-child {
  font-weight: bold;
  margin-left: -30px;
}

.linkTwoHeader p:last-child {
  cursor: pointer; 
  margin-right: -35px;
}

.linksNumTwoHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  color: grey;
  font-size: 14px;
  /* border: 2px solid red; */
  width: 90%;
  height: 20px;
  margin-top: 5px;
  margin-left: 35px;
}

.linksNumTwoHeader p {
  /* font-weight: bold; */
  margin: 0;
}

.linksNumTwoHeader p:first-child {
  font-weight: bold;
  margin-left: -30px;
}

.linksNumTwoHeader p:last-child {
  cursor: pointer; 
  margin-right: -35px;
}


.links-youtube-cont {
  position: relative;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 90%;
  height: 60px;
  margin-top: 10px;
  margin-left: 35px;
}

.youtube-container {
  position: relative;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 90%;
  height: 60px;
  margin-top: 10px;
  margin-left: 35px;
}

.platform-text {
  position: absolute;
  top: 15%;
  /* left: 1px; */
  transform: translateY(-50%);
  margin: 0;
  font-weight: 700;
  font-size: 11px;
  color: #737373;
  pointer-events: none; 
}

.arrowDown {
  z-index: 1;
  position: absolute;
  top: 39px;
  right: 2px;
  font-size: 12px;
}



.AddedLinksaveBtn .AddedOneLinksave {
  width: 70px;
  height: 40px;
  margin-left: 1230px;
  /* margin-right: 700px;  */
  border: none;
  background-color: #633cff;
  color: white;
  text-align: center;
  line-height: 40px;
  /* border: 2px solid red; */
}

.saveBtn .save:hover {
  background-color: #beadff;
}

.link-container {
  width: 660px;
  height: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 75px;
  background-color: #fafafa;
  border-radius: 5px;
}

.linkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkInputContainer {
  position: absolute;
  margin-top: -5px;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 10px;
}

.linkInputContainer img {
  position: absolute;
  top: 190%;
  left: 5px;
  transform: translateY(-50%);
}


.links-button.active {
  background-color: #fff;
}



.linkInputContainer input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}




/* media queries for phone size  */
@media (min-width: 320px) and (max-width: 599px) {
  .AddedLinks-customisation {
    width: 93%;
    height: 83%;
    margin-left: -35px;
  }

  .links-customisationHeaderParagraph {
    width: 100%;
  }

  .links-customisationHeaderParagraph h1 {
    width: 85%;
    margin-left: -5px;
  }

  .links-customisationHeaderParagraph p{
    width: 90%;
    margin-left: 10px;
    color: #737373;
  }

  .link-newLink-section {
    /* border: 2px solid yellowgreen; */
    margin-left: 10px;
    margin-top: 15px;
    height: 81%;
    width: 95%;
  }

  .AddedLinks-addLinkBtn {
    width: 100%;
    margin-top: 5px;
    margin-left: auto;
  }

  .linksNumTwoHeader {
    width: 100%;
    margin-left: auto;
  }

  .linksNumTwoHeader p:first-child {
    margin-left: -10px;
  }

  .linksNumTwoHeader p:last-child {
    margin-right: -10px;
  }

  .links-youtube-cont {
    width: 100%;
    margin-left: auto;
  }

  .links-linkOneContainer {
    width: 95%;
    margin-left: 10px;
  }

  .link-section {
    width: 100%;
    margin-left: auto;
  }

  .linkTwoContainer {
    width: 95%;
    margin-left: 10px;
  }

  .linksTwoHeader p:first-child {
    margin-left: -50px;
  }

  .linksTwoHeader p:last-child {
    margin-right: -10px;
  }

  .youtube-container {
    width: 100%;
    margin: auto;
  }

  /* .AddedOneLinksaveBtn .AddedOneLinksave {
    margin-left: 10px;
    margin-top: 170px;
    width: 85%;
  } */



}

/* media queries for tablet size  */
@media (min-width: 600px) and (max-width: 1024px) {
  .AddedLinks-customisation {
    margin-left: -10px;
    height: 70%;
    margin-top: 110px;
  }

  .links-customisationHeaderParagraph {
    margin-top: 15px;
    margin-left: 30px;
    width: 92%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .links-customisationHeaderParagraph h1 {
    margin-left: 0;
  }

  .AddedLinks-addLinkBtn {
    margin-top: 20px;
  }

  .links-linkOneContainer {
    margin-top: 30px;
  }

  .linkTwoContainer {
    margin-top: 40px;
  }

  .AddedLinksaveBtn .AddedOneLinksave {
    margin-left: 690px;
    margin-top: 400px; 
  }
}