*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

.body {
overflow: hidden;
overflow: hidden;
margin: 0;
background-color: #fafafa;
display: flex;
justify-content: flex-start;
align-items: center;
height: 100vh;
flex-direction: column;
}

.devvLinkLogo {
  position: absolute;
  top: 17%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top: -40px;  
}

.whiteBoxX {
  width: 400px;
  height: 450px;
  background-color: #fff; 
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* border: 2px solid blue; */
}

.createAccount {
  /* border: 2px solid green; */
  width: 90%;
  height: 14%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 22px;
}

.createAccount-title {
  align-self: flex-start; 
  margin-bottom: 10px; 
  margin-left: 3px; 
  color: #333333;
  font-size: 25px;
}

.createAccount-info {
  margin-top: 2px;
  margin-left: 3px; 
  color: #737373;
  font-size: 14px;
  font-weight: 300;
}

.emailccPwd {
  width: 90%;
  height: 77%;
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 22px;
  align-items: flex-start; 
}

.emaill, .createPassword, .confirmPassword {
  width: 100%;
  margin-bottom: 23px; 
}

.inputt-container{
  display:flex;
  width: 100%;
  border:1px solid #ccc;
  padding: 10px;
  border-radius:8px;
  transition: border 0.3s, box-shadow 0.3s;
}

.inputt-container:hover {
  border: 1px solid #633cff;
  box-shadow: 0 0 20px #633cff;
  }

  .inputt-container.error-border {
    border:1px solid #ff3939;
  }

  input[type="email"],
  input[type="password"] {
    border:none;
    padding: 2px;
    border-radius: 5px;
    font-size: 13px;
    outline: none;
    margin-right: 130px;
}


img {
  float: left; 
  margin-right: 10px; 
}


.pwdReminder {
  font-size: 13px;
  /* margin-top: -5px; */
  /* margin-button: 30px; */
  color: #737373;
  margin-right: 100px;
}

.createAccount-btn {
  width: 100%;
  height: 100px;
  /* margin-bottom: -45px; */
  /* margin-button: -50px; */
  margin-top: -5px;
  color: #fff;
  background-color: #633cff;
  border: #633cff;
  font-weight: 500;
}

.createAccount-btn:hover {
  border: #beadff;
  background-color: #beadff;
  color: #fff;
}

.loginAcc {
  text-align: center;
  color: #737373;
  margin-top: 45px;
  /* margin-button: 70px; */
  justify-content: center;
  font-size: 14px;
  margin-left: 80px;
  /* margin-bottom: 1px; */
}

.loginAcc a {
  text-decoration: none;
  color: #633cff;
}


    