*{
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

html, body {
  overflow: hidden !important;
}

.nav-container {
  color: #fff; 
  padding: 15px;
  margin-top: 1px; 
  background-color: #fafafa;
  /* border: 1px solid green; */
}

.innerNav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: #beadff;
  /* border: 1px solid red; */
  background-color: #fff;
  border-radius: 5px;
  height: 60px;
}


.innerNav-container img {
  margin-left: 20px; 
}

.linksDetails {
  display: flex;
  padding-right: 5px;
  justify-content: center; 
}

.linksDetails button {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #beadff; 
  position: relative;
  /* border: solid 2px red; */
}

.linksDetails button img {
  margin-right: 5px;
  margin-left: -10px; 
  /* margin-top: 30px;  */
}

/* .linksDetails button:hover {
  background-color: #007bff; 
} */



.linksDetails button:first-child {
  /* background-color: #beadff; */
  color: #737373;
  font-weight: 900;
  width: 110px; 
  height: 50px;
  /* border: solid 2px red;  */
}

.linksDetails button:last-child {
  /* background-color: white;  */
  color: #737373; 
  font-weight: 800;
  width: 160px; 
  height: 50px;
  /* border: solid 2px red; */
}

.linksDetails button:last-child span {
  white-space: nowrap; 
}

button {
  background-color: white;
  border: 1px solid #633cff;
  width: 120px; 
  height: 50px;
  color: #633cff;
  font-weight: 900;
  border-radius: 5px;
  margin-right: 40px;
}

/* button:hover {
  background-color: #beadff;
  color: #633cff;
} */

.main-container {
  width: 94%; 
  max-width: 1300px;
  margin: 0 auto; 
  padding: 25px; 
  margin-left: 18px;
}

.phoneIcon {
  width: 540px; 
  height: 535px;
  margin-left: -25px;
  margin-top: -23px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone img {
  max-width: 80%; 
  max-height: 400px;
  margin-top: -65px;
  width: 190%;
}

  .empty-customisation {
    position: absolute;
    top: 0;
    margin-left: 530px;
    margin-top: 93px;
    width: 760px; 
    height: 535px;
    text-align: center; 
    /* border: 2px solid blue; */
  }

.customisationHeaderParagraph {
  margin-left: 30px; 
  margin-top: 10px; 
}

.customisationHeaderParagraph h1 {
  text-align: left;
  color: #333333;
  font-size: 20px;
}

.customisationHeaderParagraph p {
  text-align: left;
  color: #737373;
  margin-top: 5px;
  font-size: 14px;
}

.newLink-section {
  margin-top: 30px; 
}

.addLinkBtn {
  width: 680px; 
  height: 37px;
  margin-left: 30px; 
}

.getStarted {
  margin-top: 10px; 
  margin-left: 30px; 
  background-color: #fafafa;
  width: 89%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 310px;
  /* border: 2px solid red;  */
}

.phoneSwipe {
  order: -1; 
}

.getStartedHeaderParagraph {
  margin-top: -15px; 
  text-align: center;
}

.getStartedHeaderParagraph h1 {
   color: #333333;
   margin-top: 20px; 
}

.getStartedHeaderParagraph p {
  color: #737373;
  margin-top: 15px; 
}

.save {
  position: absolute;
  top: 570px; 
  right: 32px; 
  width: 760px; 
  height: 58px; 
  /* border: 2px solid red; */
}

.saveBtnn {
  width: 70px;
  height: 40px;
  /* border: 2px solid red; */
  margin-left: 650px;
  margin-top: 6px;
  border: none;
  background-color: #d9d9d9;
  color: white;
  text-align: center; 
  line-height: 40px; 
}

.saveBtnn:hover {
  background-color: #beadff; 
  color: white;
}

.linksDetails button.activeButton  {
  background-color: #beadff;
  color: #633cff;
}

.linksDetails button.activeButton img {
  filter: brightness(0.8); 
}

.linksDetails button.activeButton:hover {
  /* background-color: #633cff; */
  color: white;
}





/* media query for tablet */
@media (min-width: 600px) and (max-width: 1024px) {

  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .nav-container {
    height: 80px;
    width: 385px;
    margin-left: -15px;
    margin-top: 20px;
    /* border: 2px solid red; */
  }

  .innerNav-container {
    width: 340px;
    margin-left: 10px;
    margin-top: -7px;
  }

  .emptyLogo {
    width: 110px;
    margin-left: 40px;
  }

  .linksDetails {
    width: 20px;
  }

  .linksDetails button:first-child {
    margin-left: 190px;
  }

  .linksDetails button:last-child {

  }

  .main-container {
    justify-content: center;
    width: 330px;
    align-items: center;
    margin-left: 15px;
  }

  .phone {
   display: none;
  }

  .empty-customisation {
    /* border: 2px solid green; */
    width: 43%;
    height: 500px;
    /* margin-top: -12px; */
    margin-left: -30px;
  }

  .customisationHeaderParagraph {
    margin-left: 2px;
    width: 100%;
  }

  .customisationHeaderParagraph p {
    font-size: 10px;
  }

  .customisationHeaderParagraph h1 {
    font-size: 15px;
  }

  .addLinkBtn {
    width: 100%;
    margin-left: -8px;
  }

.getStarted {
  width: 100%;
  margin-left: -8px;
}

.phoneSwipe img{
  width: 120px;
}

.getStartedHeaderParagraph h1 {
  font-size: 20px;
}


.getStartedHeaderParagraph p {
  font-size: 10px;
  margin-top: 10px;
}

.save {
  width: 50%;
}

.saveBtnn {
  /* border: 2px solid red; */
  margin-left: -90px;
  margin-top: -102px;
}

}


/* Media query for phones */
@media (min-width: 320px) and (max-width: 599px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .nav-container {
    height: 80px;
    width: 385px;
    margin-left: -15px;
    margin-top: 20px;
    /* border: 2px solid red; */
  }
}
  






