*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

.body {
overflow: hidden;
overflow: hidden;
margin: 0;
background-color: #fafafa;
display: flex;
justify-content: flex-start;
align-items: center;
height: 100vh;
flex-direction: column;
}

.devLinkLogo {
  position: absolute;
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top: -40px; 
}

.whiteBox {
  width: 410px; 
  height: 302px;
  background-color: #fff; 
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.log {
  width: 90%;
  height: 17%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: 1px;
}

.log-title {
  align-self: flex-start; 
  margin-bottom: 10px; 
  margin-left: 25px; 
  color: #333333;
  font-size: 25px; 
}

.log-info {
  margin-top: 10px;
  margin-left: 25px; 
  /* color: #d9d9d9;  */
  color: #737373;
  font-size: 14px;
  font-weight: 300;
}

.emailPwd{
  width: 90%;
  height: 60%;
  display: flex;
  /* border: 2px solid red; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 22px;
}

.email {
  width: 100%;
  height: 27%;
  margin-top: -100px;
  margin-bottom: 5px;
  box-sizing: border-box; 
  align-self: flex-start;
}

label {
  color: #737373;
  font-size: 12px;
  margin-top: 10px;
}

.password {
  width: 100%;
  height: 27%;
  margin-top: 7px;
  margin-bottom: 5px;
  box-sizing: border-box; 
  align-self: flex-start;
}

.log-btn {
  width: 100%;
  height: 40px;
  margin-left: 40px;
  margin-bottom: -45px;
  margin-top: 10px;
  color: #fff;
  background-color: #633cff;
  border: #633cff;
  font-weight: 500;
}

.error-message {
  color: red;
  font-size: 10px;
  margin-left: 5px;
}

.error-label {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}

.input-container.error-border {
  border:1px solid #ff3939;
}

#error-message-container {
  position: absolute;
  display: flex;
  font-size: 20px;
  color: red;
  margin-left: 260px;
  /* border: 2px solid blue; */
}

#password-error-message-container {
  position: absolute;
  display: flex;
  font-size: 10px;
  color: red;
  margin-left: 260px;
  /* border: 2px solid blue; */
}

.log-btn:hover {
  border: #beadff;
  background-color: #beadff;
  color: #fff;
}

.createAccLink {
  text-align: center;
  color: #737373;
  margin-top: -35px;
}

.createAccLink a {
  text-decoration: none;
  color: #633cff;
}

.input-container{
  display:flex;
  border:1px solid #ccc;
  /* border:1px solid red; */
  padding: 10px;
  border-radius:8px;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-container:hover {
  border: 1px solid #633cff;
  box-shadow: 0 0 20px #633cff;
  }


input[type="email"],
input[type="password"] {
    border:none;
    padding: 2px;
    border-radius: 5px;
    /* width: 100%; */
    width: calc(100% - 90px);
    font-size: 13px;
    outline: none;
    margin-right: 130px;
}

img {
  float: left; 
  margin-right: 10px; 
}


