*{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

html, body {
  overflow: hidden;
}


.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  width: 100%;
  margin-top: 13vh;
  margin-bottom: 15vh;
}




.loginHeader {
  text-align: left; 
  margin-top: 30px; 
  margin-left: 30px;
}

.loginHeader h1 {
  margin: 0; 
  color: #333333;
  font-weight: 700;
  font-size: 30px;
}

.loginHeader p {
  margin: 15px 0; 
  /* letter-spacing: 1px; */
  color: #737373;
}

.form-container {
  width: 300px; 
  height: 400px; 
  margin: 0 auto; 
  padding: 20px; 
  margin-left: auto;
}

form {
  margin-top: -20px;
}

.input-container {
  margin: 20px 0; /* Add margin between input elements */
}

.label-input {
  margin-bottom: 15px; 
  align-items: flex-start;
  flex-direction: column;
}

label {
  display: block; /* Display labels as block elements */
  font-weight: 400; /* Make labels bold for emphasis */
  color: #737373;
}

.label-input label {
  text-align: left;
  width: 100%;
}

input {
  width: 122%; /* Expand the input fields to the full width of the container */
  padding: 15px; /* Add padding for better input field spacing */
  margin-top: 5px; /* Add a small margin on top of input fields */
  border: 1px solid #d9d9d9; /* Add a border to input fields */
  border-radius: 5px; /* Add rounded corners to input fields */
  outline: none; /* Remove the default input field outline */
}

input:focus {
  border-color: #633cff;
  box-shadow: 0 0 15px #633cff;
}

button {
  width: 130%; /* Expand the button to the full width of the container */
  padding: 15px; /* Add padding for better button spacing */
  background-color: #633cff; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer; /* Change cursor on hover */
  margin-top: 10px; /* Add a margin on top of the button */
  font-weight: 750;
}

button:hover {
  background-color: #beadff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer: cursor;
}

p {
  text-align: center; /* Center-align the paragraph text */
}

a {
  text-decoration: none; /* Remove underline from the anchor link */
  color: #633cff; /* Set link color */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 24px; 
}




