*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.body {
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.whiteBoxSpace {
  width: 430px; 
  height: 420px; 
  background:#fff;
  border-radius:10px;
}

.devLinkLogo {
  margin-bottom: 50px;
}

.login {
  width: 390px;
  /* border: 2px solid blue; */
  margin-top: 30px;
  margin-left: 20px;
  position: relative;
}

.login-title {
  font-size:22px;
  color: #333333;
}

.login-info{
  color: #737373;
  font-size:16px;
  margin-top: 10px;
}

.emailPassword {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 280px;
  margin-left: 20px;
  margin-top: 18px;
}

.emailRequest {
    display:flex;
    flex-direction: column;
}


  .emailRequest label, .passwordRequest label {
      font-size:13px;
      margin-bottom:10px;
      margin: 10px;
      /* color: red; */
      margin-left: 1px;
      color: #333333;
  }

  .emailRequest label.error, .passwordRequest label.error {
   color: #ff3939;
}

.passwordRequest {
  display:flex;
  flex-direction: column;
}

#passwordError {
  /* border: 2px solid red; */
  display: inline;
  font-size: smaller;
  margin: 0;
  margin-left: auto;
}

.input-container{
     display:flex;
     border:1px solid #ccc;
     padding:10px;
     border-radius:8px;
     transition: border 0.3s, box-shadow 0.3s;
}

.input-container.error {
  border:1px solid #ff3939;
}

.input-container:hover {
  border: 1px solid #633cff;
  box-shadow: 0 0 20px #633cff;
}

.input-container:focus {
  border: 1px solid blue; 
  box-shadow: 0 0 5px blue; 
}

input{
  border:none;
  /* width: 40px; */
  padding:2px;
  outline:none;
  margin-left: 15px;
  /* border: 2px solid red; */
}

/* .custom-input {
  padding: 2px;
} */

/* .custom-input.error {
  border: 1px solid red; 
} */

input[type="email"],
input[type="password"] {
  padding: 6px;
  border-radius: 5px;
  width: 120%;
  outline: none;
  /* border: 2px solid yellow; */
  width: 200px;
}

.email-error-message {
  color: red;
  font-size: 12px;
  display: inline;
  margin-left: 50px;
  text-align: right;
  margin-top: 5px;
  position: relative;
  bottom: 0;
}


.password-error-message {
  color: red;
  font-size: 12px;
  display: inline;
  margin-left: 35px;
  text-align: right;
  margin-top: 5px;
  position: relative;
  margin-right: -45px;
  bottom: 0;
  /* border: 2px solid yellow; */
}

button {
  width: 100%;
  height: 100px;
  margin-top: 13px;
  /* margin-button: 20px; */
  border-radius: 5px;
  background-color: #633cff;
  border: none;
  color: #fafafa;
  font-weight: 600;
  transition: background-color 0.1s, color 0.3s;

  &:hover {
    background-color: #beadff;
    color: #fafafa;
  }
}


.createAccount {
  margin-top: 12px;
  text-align: center;
  color: #737373;
}

.createAccount a {
  text-decoration: none;
  color: #633cff;
}