*{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  html, body {
    overflow: hidden;
  }

  .mauve-cover {
    background-color: #633cff;
    height: 265px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    width: 100%;
  }

  .navigationBar {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerNavigationBar {
    width: 1330px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
  }

  .innerNavigationBarBtn {
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
    margin-top: -6px;
  }

  .innerNavigationBarBtn button:first-child {
    margin-left: 20px;
    font-weight: 750;
    background-color: #fff;
    color: #633cff;
    /* border: 2px solid green; */
  }
  
  .innerNavigationBarBtn button:last-child {
    margin-right: 30px; 
    font-weight: 750;
    background-color: #633cff;
    color: #fff;
    /* border: 2px solid red; */
  }

  .innerNavigationBarBtn button:last-child:hover {
    background-color: #fff;
  }

  .innerNavigationBarBtn button:last-child:hover {
    background-color: #633cff;
    color: #fff;
  }


  .previewImg {
    max-width: 150%; 
    max-height: 150%; 
    display: block;
    margin: 0 auto; 
    position: relative;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* .linkPopUp {
    position: absolute;
    width: 30%;
    height: 20%;
    border: 2px solid blue;
  } */


  .linkPopUp {
    position: absolute;
    top: 225%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .linkPopUp img {
    margin-bottom: 5px;
  }
  
  .linkPopUp p {
    margin: 0;
    font-size: 13px;
    color: #fff;
    display: inline;
  }

  .previewBox {
    width: 20%;
    height: 40%;
    border: 1px solid red;
  }
  
  