*{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  html, body {
    overflow: hidden;
  }

  .navbar {
    border: 2px solid #633cff;
    height: 90px;
    margin-top: 90px;
  }
  
  /* .inner-navbar {
    border: 2px solid yellow;
    height: 65px;
    width: 1320px;
    margin-left: 17px;
    margin-top: 15px;
  } */

  .inner-navbar {
    display: flex;
    justify-content: space-between; 
    /* border: 2px solid yellow; */
    height: 65px;
    margin-top: 15px;
    width: 1320px;
    margin-left: 17px;
    background-color: white;
    border-radius: 10px;
  }
  
  .inner-navbar button {
    margin: 25px; 
    padding: 10px 20px;
    border: 1px solid #633cff;
    border-radius: 5px;
    background-color: white; 
    color: #633cff; 
  }

  .inner-navbar button:last-child {
    background-color: #633cff; /* Blue background for the "Share Link" button */
    color: white; /* White text color for the "Share Link" button */
  }
  
  .mauve-cover {
    background-color: #633cff;
    /* border: 2px solid red; */
    height: 290px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -90px;
    position: relative;
  }

  .mauve-cover img {
    position: absolute;
    top: 45%; 
    /* transform: translateY(-50%); */
    left: 40%;
    transform: translateX(-10%);
    /* transform: translate(-10%, -1%); */
    /* transform: translateX(-50%);     */
  }