*{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  html, body {
    overflow: hidden;
  }
  
  .nav-container {
    color: #fff; 
    padding: 15px;
    margin-top: 10px; 
    /* border: 1px solid red; */
  }
  
  .innerNav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #beadff;
  }
  
  
  .innerNav-container img {
    margin-left: 20px; 
  }
  
  .linksDetails {
    display: flex;
    padding-right: 5px;
    justify-content: center; 
  }
  
  .linksDetails button {
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #beadff; 
    /* border: solid 2px red; */
  }
  
  .linksDetails button img {
    margin-right: 5px;
    margin-left: -10px; 

    /* margin-top: 30px;  */
  }
  
  .linksDetails button:first-child {
    /* background-color: #beadff; */
    background-color: white; 
    /* color: #633cff; */
    color: #737373;  
    font-weight: 900;
    width: 110px; 
    height: 50px;
    /* border: solid 2px red; */
  }
  
  .linksDetails button:last-child {
    /* background-color: white;  */
    background-color: #beadff;
    color: #633cff;
    /* color: #737373;  */
    font-weight: 800;
    width: 160px; 
    height: 50px;
    /* border: solid 2px red; */
  }
  
  .linksDetails button:last-child span {
    white-space: nowrap; 
  }
  
  button:hover img,
  button:hover span {
    color: #633cff;
  }
  
  button {
    background-color: white;
    border: 1px solid blue;
    width: 120px; 
    height: 50px;
    color: #633cff;
    font-weight: 900;
    border-radius: 5px;
    margin-right: 17px;
  }
  
  button:hover {
    background-color: #beadff;
    color: #633cff;
  }
  
  .main-container {
    width: 94%; 
    max-width: 1300px;
    margin: 0 auto; 
    padding: 25px; 
    margin-left: 18px;
  }
  
  .phoneIcon {
    width: 250px; 
    height: 130px; 
  }
  
  .phone {
    position: relative;
    /* border: 2px solid pink; */
    top: 1px; 
    right: -15px;
    width: 300px;
  }
  
  .phone img {
    width: 500px; /* Adjust this value to your desired width */
    height: 500px; /* Adjust this value to your desired height */
    position: relative;
    top: 20px; /* To move to the top, or use 'bottom: 0' to move to the bottom */
    right: 25px; /* To move to the right, or use 'left: 0' to move to the left */
    /* border: 2px solid yellow; */
  }
  
  
  .profileDetails {
    width: 57%;
    height: 460px; 
    margin-left: auto; 
    margin-right: 0; 
    position: relative; 
    top: -145px;
    /* border: 2px solid red; */
    /* margin-top: 15px; */
  }
  
  .customisationHeaderParagraph {
    margin-left: 74px; 
    /* margin-top: 15px; */
  }
  
  .customisationHeaderParagraph h1 {
    text-align: left;
    color: #333333;
  }
  
  .customisationHeaderParagraph p {
    text-align: left;
    color: #737373;
    margin-top: 10px;
  }
  
  .newLink-section {
    margin-top: 30px; 
  }
  
  .addLinkBtn {
    width: 710px; 
    margin-left: 75px; 
    margin-top: -5px; 
  }

  .saveBtn .save {
    width: 70px;
    height: 40px;
    border: none;
    background-color: #633cff;
    color: white;
    text-align: center;
    line-height: 40px;
  }

  .save {
    position: absolute;
    top: 600px; /* Adjust this value to move it down */
    right: 30px; /* Adjust this value to move it to the left */
  }
    
        .link-container {
            width: 660px;
            height: 200px; 
            /* border: 1px solid #ccc; */
            padding: 20px; 
            margin-top: 20px;
            margin-left: 75px;
            border: 2px solid red;
            background-color: #fafafa;
            border-radius: 5px;
        }

        .linkNum1Sec {
          /* border: 1px solid red; */
          width: 90%;
          height: 215px;
          margin-left: auto;
          margin-top: 15px;
          background-color: #efebff;
          border-radius: 5px;
        }
        .linkNum2Sec {
          border: 1px solid red;
          margin-top: 10px;
          width: 90%;
          height: 159px;
          margin-left: auto;
          background-color: #efebff;
          border-radius: 5px;
        }

        .linkRemove {
          /* border: 1px solid yellow; */
          width: 92%;
          height: 20px;
          margin-top: 15px;
          margin-left: 25px;
        }

        .linkRemove {
          display: flex; /* Use flex to create a horizontal layout */
          align-items: center; /* Vertically center the content */
          justify-content: space-between; /* Push the children to the far left and far right */
        }

        .linkRemove p {
          color: #737373;
          font-weight: 500;

        }
       
        .img-p {
          display: flex; 
          align-items: center; 
          justify-content: space-between; 
        }

        .img-p img,
        .img-p p {
           margin: 5px; 
         }

         .img-p p {
          color: #737373;
          font-weight: 500;
         }
         .link {
          /* border: 2px solid green; */
          width: 90%;
          height: 65px;
          margin-left: 35px;
          margin-top: 10px;
          position: relative;
          display: flex;
          align-items: center;
        }
        
        .link p {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          color: #737373;
          font-size: 13px;
          font-weight: 600;
        }
        
        .link .input-container {
          display: flex;
          align-items: center;
          width: 100%;
        }
        
        .link .input-container input {
          flex: 1;
          height: 3em;
          padding-left: 30px; 
          border: 1px solid #d9d9d9;
          margin-top: 18px;
          border-radius: 5px;
        }
        
        .link .icon-link {
          position: absolute;
          left: 5px; /* Adjust this value to position the icon at the left corner of the input */
          top: 65%; /* Vertically center the icon within the input */
          transform: translateY(-50%); /* Adjust the vertical position */
        }
      
         .platform {
          position: relative;
          flex-direction: column;
          display: flex;
          border: 2px solid red;
          width: 90%;
          height: 65px;
          margin-top: 15px;
          margin-left: 34px;
        }
        
        .platform p {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0;
          color: #737373;
          font-size: 13px;
          font-weight: 600;
        }

        .image-info-section {
            /* border: 2px solid blue; */
            height: 78%;
            width: 85%;
            margin-left: 75px;
            margin-top: 20px;
        }

        .image-section {
            height: 50%;
            width: 100%;
            margin-left: -2px;
            margin-button: 5px;
            /* border: 2px solid red; */
            background-color: #fafafa;
            justify-content: space-between;
            align-items: center;
            display: flex;
        }

        .inner-image-section {
            height: 83%;
            width: 95%;
            /* border: 2px solid green; */
            margin-left: 8px;
            margin-top: 3px;
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 5px;
        }

        .inner-image-section img {
            display: block;
            margin: 0 auto;
            width: 40px; 
            height: 40px; 
            position: absolute;
            top: 25%;
            left: 40%;
          }

          .image-container {
            background-color: #efebff;
            width: 25%;
            height: 106%;
            margin-left: 40px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .image-container img {
            order: -1; /* Place the image on top of the text */
            margin-left: 27px;
            margin-top: 20px;
          }
          

          .upload-text {
            color: blue;
            font-weight: 500;
            margin-top: 34px;
            margin-right: 17px;
          }

          .pp {
            color: #737373;
            font-weight: 400;
            font-size: 14px;
          }
          
          .image-requirements {
            color: #737373;
            font-weight: 400;
            font-size: 13px;
          }

          .inner-image-section p {
            text-align: center;
          }

        .inner-image-section p:first-child {
            margin-right: auto; 
          }
          
          .inner-image-section p:last-child {
            margin-left: auto; 
            position: relative;
          }

          .inner-image-section p:last-child img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }

        .info-section {
            /* border: 2px solid yellow;    */
            height: 50%;
            width: 100%;
            margin-left: -2px;
            margin-top: 10px;
            margin-right: auto;
            flex-direction: column;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #fafafa;
            border-radius: 5px;
        } 

        .input-pair {
            display: flex;
            /* align-items: center; */
            /* border: 2px solid green;  */
            margin: 3px 0;
            width: 93%;
            max-width: 600px;
            padding: 10px; 
            margin-left: 10px;
            height: 15%;
        }

        .input-pair p {
            flex: 1;
            margin-right: 30px;
            text-align: left; 
            padding-right: 80px;
            color: #737373;
            font-size: 15px;
        }
        
        /* .input-pair input {
            flex: 1;
            border: 2px solid red;
            margin-left: 180px;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 5px; 
            height: 180%;
          } */

          .input-pair input {
            flex: 1;
            /* border: 2px solid red; */
            margin-left: 100px; 
            margin-right: -10px; 
            padding: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            width: 1090px; 
            border: 1px solid #d9d9d9;
          }

          .input-pair input:focus {
            border-color: #633cff;
            box-shadow: 0 0 15px #633cff;
            border-width: 1px;
          }
          
        
          
          